---
layout: page
---

  <head>
    <link rel="stylesheet" href="{{ 'https://raw.githubusercontent.com/RayTheNoob/website/main/_sass/hacker.scss'}}">
    <title>{{ page.title | escape }}</title>
    
    <style>
      .container {
         max-width: 1000px;
         margin: auto;
      }
    </style>
  </head>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
